*{
    font-size: 40px;
}

body{
    background-color: rgb(255, 187, 0);
    border: 2px solid black;
}

h1{
    color: blue;
}

#P1 {
    color: rgb(147, 165, 42);
}

.header{
   color: chartreuse;
}

#H11{
    color: coral;
}

